{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "env": {
      "browser": true,
      "jest": true
    },
    "plugins": ["jest"],
    "rules": {
      "jsx-a11y/no-static-element-interactions": 0,
      "no-useless-escape": 0,
      "react/forbid-prop-types": 0,
      "react/no-array-index-key": 0,
      "react/prefer-stateless-function": 0,
      "react/require-default-props": 2,
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
      "jest/no-disabled-tests": "warn",
      "jest/no-focused-tests": "error",
      "jest/no-identical-title": "error",
      "jest/prefer-to-have-length": "warn",
      "jest/valid-expect": "error"
    }
  }
