.chat-messages {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: 24px;
}

.chat-messages__message {
  display: flex;
  position: relative;
}

.chat-messages__message:hover {
  background-color: rgba(0,0,0,0.03);
}

.message__user-photo {
  position: absolute;
  top: 4px;
  left: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.message__content {
  margin-left: 72px;
  margin-right: 24px;
  padding: 4px 0;
}

.message__sender {
  font-size: 14px;
  font-weight: 600;
  color: rgba(0,0,0,0.87);
}

.message__time {
  font-size: 12px;
  margin-left: 5px;
  color: rgba(0,0,0,0.54);
}

.message__content-body {
  margin-top: 2px;
  font-size: 14px;
  line-height: 1.4;
  color: rgba(0,0,0,0.87);
}