.auth-form {
  width: 500px;
  height: 250px;
  max-width: 90%;
  max-height: 90%;
  background: #FFFFFF;
  padding: 10px 24px;
}

.description {
  margin-top: 16px;
  font-size: 14px;
  color: rgba(0,0,0,0.54);
  letter-spacing: 0.5px;
}

.auth-form__inputs {
  display: flex;
  flex-direction: column;
}

.auth-form__buttons {
  display: flex;
  justify-content: flex-end;
  margin: 14px 8px 8px;
}
