.auth-form {
  width: 500px;
  max-width: 90%;
  max-height: 90%;
  background: #FFFFFF;
  box-shadow: -1px 0 0 0 rgba(96,126,152,0.10), 1px 0 0 0 rgba(96,126,152,0.10), 0 1px 1px 0 rgba(96,126,152,0.20);
  padding: 10px 24px;
}

.title {
  font-size: 24px;
  color: rgba(0,0,0,0.87);
  font-weight: 500;
}

.description {
  margin-top: 16px;
  font-size: 14px;
  color: rgba(0,0,0,0.54);
  letter-spacing: 0.5px;
}

.auth-form__inputs {
  display: flex;
  flex-direction: column;
}

.auth-form__buttons {
  display: flex;
  justify-content: flex-end;
  margin: 14px 8px 8px;
}
