.log-in-page {
  --top-background-height: 25%;

  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0,0,0,0.03);
}

.log-in-page__top-background {
  height: var(--top-background-height);
  width: 100%;
  background: var(--main-color);
}

.log-in-page__content {
  position: absolute;
  top: calc(var(--top-background-height) - 77px);
}